input {
    border: none;
}

div {
font-family: 'Roboto Mono', monospace;
}

header {
    font-family: 'Roboto Mono', monospace;
}

textarea {
    height: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}

a:link {
    color: #ffc107;
    text-decoration: none;
}

a:visited {
    color: #ffc107;
    text-decoration: none;
}

a:hover {
    color: turquoise;
    text-decoration: none;
}

#title {
    width: 85%;
    height: 100%;
    outline: none;
}

#svg-grey {
    color: #6c757d;
}

svg {
    color: #ffc107;

}

.modal-css{
    max-height: 80vh; 
    overflow-y: auto;
}

#card-width {
    border-radius: 20px;
    overflow-y: auto;

}

#card-height {
    overflow-y: auto;
}

/* Small screens */
@media (max-width: 600px) {
    #card-width {
        width: 300px;
    }
}

/* Medium screens */
@media (min-width: 601px) and (max-width: 799px) {
    #card-width {
        width: 350px;
    }
}

/* Large screens */
@media (min-width: 800px) {
    #card-width {
        width: 400px;
    }
}

/* Small screens (phones) */
@media (max-height: 500px) {
    #card-height {
        height: 300px;
    }
}

/* Medium screens (tablets) */
@media (min-height: 501px) and (max-height: 800px) {
    #card-height {
        height: 400px;
    }
}

/* Large screens (computers) */
@media (min-height: 801px) {
    #card-height {
        height: 450px;
    }
}